<!DOCTYPE html>
<html lang="pt-br">
    <head>       
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Home Visita </title>
        
        <!-- ==========  CSS Bootstrap Import Zone ========== -->
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
        <!-- ========== CSS Personlizado Import Zone ========== -->
        <link rel="stylesheet" href="/stylesheets/styleApp.css">  
    </head>
    <body>
        <!-- Content Here -->

        <h1 class="m-3">Visitas</h1>
        
        <hr/>
        <a class="btn btn-primary mx-3" href="/visitas/agendar"><b>+</b></a><label>Agendar nova visita</label>
        <br/>

        <hr/>

        <div class="m-5">
            <table class="table table-bordered table-hover vertical-center-items">
                <caption>Lista de visitas agendadas</caption>
                <thead class="thead-dark">
                    <tr>
                        <th class="text-center">#</th>
                        <th>Data</th>
                        <th>Visitante</th>
                        <th>Código</th>
                        <th class="text-center">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <%  visitas.forEach( (visita, iterator) => { %>
                        <tr>
                            <td class="text-center"><%= iterator + 1 %></td>
                            <td><%= visita.data %></td>
                            <td><%= visita.visitante %></td>
                            <td><%= visita.codigo %></td>                            
                            <td class="text-center">
                                <button class="btn btn-danger mx-1" onclick="cancelar('<%= visita._id %>')">Cancelar</button>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
        
        <a class="btn btn-secondary mx-3" href="/">Voltar para Home</a>
        
        <script type="text/javascript">
            function cancelar(id){
                $.ajax({
                    url: 'visitas/cancelar',
                    type: "DELETE",
                    data: {id:id},
                    success: function (){
                        window.location.reload();
                    }
                });
            }
        </script>

        <!-- ========== JS Bootstrap Import Zone ========== -->
        <script src="/javascripts/bootstrap.min.js"></script>
        <script src="/javascripts/bootstrap.bundle.min.js"></script>
        <!-- ========== JS JQuery Import Zone ========== -->
        <script src="/javascripts/jquery-3.3.1.min.js"></script>
    </body>
</html>