<!DOCTYPE html>
<html lang="pt-br">
    <head>       
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Tela em Contrução </title>
        
        <!-- ==========  CSS Bootstrap Import Zone ========== -->
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
        <!-- ========== CSS Personlizado Import Zone ========== -->
        <link rel="stylesheet" href="/stylesheets/styleApp.css">  
    </head>
    <body>
        <!-- Content Here -->

        <h1 class="m-3">Visitantes</h1>
        
        <hr/>

        <a class="btn btn-primary mx-3" href="/visitantes/novo"><b>+</b></a><label>Cadastrar novo visitante</label> <br/>

        <hr/>

        <div class="m-5">
            <table class="table table-bordered table-hover vertical-center-items">
                <caption>Lista de visitantes</caption>
                <thead class="thead-dark">
                    <tr>
                        <th>Nome</th>
                        <th>RG</th>
                        <th>Celular</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <%  visitantes.forEach( visitante => { %>
                        <tr class="align-middle">
                            <td><%- visitante.nome %></td>
                            <td><%- visitante.rg %></td>
                            <td class="align-middle"><%- visitante.celular %></td>
                            <td>
                                <a class="btn btn-warning" href="/visitantes/editar/<%= visitante._id %>">Editar</a>
                                <a class="btn btn-danger" href="/visitantes/excluir/<%= visitante._id %>">Excluir</a>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
        
        <a class="btn btn-secondary mx-3" href="/">Voltar para Home</a>
        
        <!-- ========== JS Bootstrap Import Zone ========== -->
        <script src="/javascripts/bootstrap.min.js"></script>
        <script src="/javascripts/bootstrap.bundle.min.js"></script>
        <!-- ========== JS JQuery Import Zone ========== -->
        <script src="/javascripts/jquery-3.3.1.min.js"></script>
    </body>
</html>